.grid {
	font-family: 'Amatica SC', cursive;
	font-size: 175%;
}

.header {
  font-family: 'Amatica SC', cursive;
  font-size: 500%;
  color: #f73859;
}

.subtitle, 
.form-horizontal {
  font-family: 'Amatica SC', cursive;
  font-size: 300%;
  color: #f73859;
}

.form-horizontal {
  font-size: 150%;
}

legend {
  color: #fff;
}

.theme {
  background-color: white;
  color: black;
}

